body{
    position: relative;
}



#heading{
   display: flex;
   left: 200px;
   justify-content: center;


    
    

}
#heading p{
    
    
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.dice{
    display:flex;
    
}
.first{
    background:aquamarine;
    border: 30px solid white;
    height: 300px;
    flex:1
}
.first p{
    text-align: center;
    margin-top: 100px;
    font-size: 3rem
}

.second{
    background:aquamarine;
    border: 30px solid white;
    height: 300px;
    flex:1
}

.second p{
    text-align: center;
    margin-top: 100px;
    font-size: 3rem
}


.players{
    display: flex;
}

.player1{
    background: aquamarine;
    border: 30px solid white;
    height: 100px;
    flex:1
}

.player2{
    background:aquamarine;
    border: 30px solid white;
    height: 100px;
    flex:1
}

.player2 p{
    text-align: center;
    
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.player1 p{
    text-align: center;
    
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.winner{
    background: aquamarine;
    border: 30px solid white;
    height: 100px;
    flex:1}

.winner p{
    text-align: center;
    
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn{
    display: flex;
    color: brown;
    justify-content: center;
    
    left: 250px;
    margin-top: 50px;
    font-size: 30px;
}

/* .btn:hover {background: rebeccapurple;} */